// Define variables for your color scheme

$orange: #ED6F37;
$dark-blue: #344270;
$light-blue: #7998B2;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
