<h1> <%= @bike.name %></h1>

<div class="img-container">
  <div class="main-img">
    <%= cl_image_tag @photos.first.key, crop: :fill %>
  </div>
  <div class="right-grid-img">
    <% @photos.each do |photo| %>
      <%= cl_image_tag photo.key, :class=>"right-grid-img img"%>
    <% end %>
  </div>
</div>

<div class="booking-container">
  <div class="bike-description">
    <h1>Description</h1>
    <p>
      <%= @bike.description %>
    </p>
  </div>

  <div class="booking-form">
    <h1>Form Booking</h1>

  </div>



</div>

<h1></h1>
