.booking-container {
  width: 100vw;
  display: flex;
  max-width: 100%;
  background-color: #ED6F37;
  padding: 38px 16px 100px 16px;
}

.bike-description {
  flex: 50%;
  background-color: #344270;
  border-radius: 8px;
  color: white;
  text-align: center;
  margin: 8px;
  height: 495px;
  padding: 16px 32px 16px 32px;
}

.booking-form {
  flex: 50%;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  margin: 8px;
  height: 495px;
  padding: 16px;

  .form-box {
    margin: 16px;
    margin-top: 32px;

    .date {
      border-radius: 8px;
    }

    label {
      border-radius: 8px;
    }

    .my-button {
      margin-top: 64px;
      color: white;
      background-color:#ED6F37;
      border-radius: 8px;
      width: 200px;
    }
  }
}

h1 {
  margin-top: 16px;
  text-align: center;
  margin-bottom: 16px;
}
