.card-bike {
  min-width: 300px;
  background-color: $light-blue;
  color: white;
  border-radius: 10px;
}

.card-bike-text {
  font-size: 16px;
}


.card-product {
  overflow: hidden;
  height: 120px;
  background: $light-blue;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px;
  color: white;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
