.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card-deck {
  padding: 38px 16px 100px 16px;
}

.card-bike {
  min-width: 300px;
  background-color: #7998b2;
  color: white;
  border-radius: 10px;
  margin: 16px;
  margin-bottom: 16px;
  height: 500px;
}


.card-title {
  text-align: center;
}
.card-category {
  font-weight: bold;
  text-align: center;
  color: #344270;
  font-size: 20px;
}

.card-location {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.card-owner {
  text-align: center;
  color: white;
}

.card-bike-img {
  border-radius: 8px 8px 0 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  object-fit: cover;
  height: 300px;
}

.card-button {
  margin-top: auto;
  background-color:#ED6F37;
  border-radius: 8px;
  width: 200px;
  border-style: solid;
  border-color: #ED6F37;

}

.card-button:hover{
  background-color: #344270;
  border-color: #344270;
}

a {
  color: white;
}

a:hover {
  color: #7998b2;
  text-decoration: none;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}



.card-product {
  overflow: hidden;
  height: 120px;
  background: $light-blue;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px;
  color: white;
  min-width: 600px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 0;
}

.card-product-bookings {
  margin: 10px;
}

.card-product-bookings-line {
  display: flex;
  justify-content: space-between;
}

.card-product-bookings-line-options {
  text-align: right;
}

.card-product .card-product-infos {
  padding: 16px;
}

